@model IEnumerable<TC.Repository.Entity.User>

@{
    ViewData["Title"] = "Список исполнителей";
}

<p>
    <a asp-action="Add">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="list-selected">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Show" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Remove" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }

    </tbody>
</table>
